{% extends 'base.html.twig' %}

{% block title %}Add Book{% endblock %}

{% block body %}
    <h1>add Book</h1>

    {{ form_start(form) }}

        
        <div>
            {{ form_label(form.title, 'Title') }}
            {{ form_widget(form.title) }}
        </div>

        <div>
            {{ form_label(form.publicationDate, 'Publication date') }}
            {{ form_widget(form.publicationDate) }}
        </div>

        <div>
            {{ form_label(form.category, 'Category') }}
            {{ form_widget(form.category) }}
        </div>

        <div>
            {{ form_label(form.author, 'Author') }}
            {{ form_widget(form.author) }}
        </div>

        <button type="submit">Save</button>

    {{ form_end(form) }}
{% endblock %}