{% extends 'base.html.twig' %}

{% block title %}Edit Reader{% endblock %}

{% block body %}
    <h1>Edit Reader (ID: {{ reader.id }})</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        <button type="submit">Update</button>
    {{ form_end(form) }}

    <a href="{{ path('app_reader_list') }}">back to list</a>
{% endblock %}