{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block body %}
   <table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>
         <th>actions</th>
    </tr>
    {% for i in list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.email }}</td>
            <td>
<a href="{{path('delete',{'id':i.id})}}">Delete</a> {#or URL #}
<a href="{{path('delete',{'id':i.id})}}">modifier</a> {#or URL #}
<a href="{{path('showDetails',{'id':i.id})}}">Show</a> {#or URL #}

        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun auteur trouvé</td>
        </tr>
    {% endfor %}
</table>
      
{% endblock %}
